.grid-item{
  background-color: lightcyan;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 5px 5px 5px gray;
}

.grid-item:hover{
  box-shadow: 5px 5px 15px gray;
}
  /*.grid-row{*/
  /*//grid-template-row: 50% 50%;*/
  /*  grid-template-columns: 50% 50%;*/
  /*}*/

/*grid-column-start: 1;*/
/*grid-column-end: 2;*/
